body {
    font-family: 'Poppins', sans-serif;
}

#result, #result2{
    border: solid 1px;
    padding: 2px 8px;
    
}

#mainHeader {
    text-align: center;
}

input {
    font-size: 20px;
}

form {
    width: 30%;
    min-width: 25%;
    margin: 0 auto;
    padding: 8.5px;
    border: solid 1px;
  }

  .main-btn-one {
      font-size: 22px;
      margin-top: 25px;
      margin-bottom: 15px;
  }

  .labour-Cost {
    margin: 0 auto;
    width: 15%;
    padding: 22px;

  }

  #labour-Cost-Label {
    color: darkblue;
    font-weight: 700;
    font-size: 24px;
    padding: 5px;
  }