* {
    margin: 0;
    padding: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(191, 195, 193);
}

.labourTimeLink {
  text-align: center;
  font-size: 19px;
  color: rgb(51, 51, 56);
}


.prodemandLink {
  color: floralwhite;
}
.prodemandLink:visited{
  color: floralwhite;
}
.prodemandLink:hover{
  color: blue;
}
.prodemandLink:active{
  color: blue;
}


#result {
    padding: 2px 8px;
    color: rgb(51, 51, 56);
}

#mainHeader {
    text-align: center;
    color: rgb(51, 51, 56)
}

input {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 15px;
}

form {
    width: 30%;
    min-width: 25%;
    margin: 0 auto;
    border: solid 1px;
    border-radius: 25px;
    box-shadow: 9px 12px #1b1b1b;
    background: linear-gradient(130deg, rgb(132, 157, 177) 60%, rgb(255, 255, 255) 40%);
  }

  .main-btn-one {
      font-size: 22px;
      margin-top: 25px;
      margin-bottom: 15px;
      
  }

  .main-btn-one:hover {
    box-shadow: 6px 10px #1b1b1b;
    animation-name: shadow;
    animation-duration: 0.3s;
  }

  .main-btn-one:not(:hover) {
    animation-name: unShadow;
    animation-duration: 0.5s;
  }

  @keyframes unShadow {

    0% {box-shadow: 6px 10px #1b1b1b;}
    25% {box-shadow: 4px 7px #1b1b1b;}
    50% {box-shadow: 1px 2px #1b1b1b;}
    75% {box-shadow: 0.5px 1px #1b1b1b;}
    100% {box-shadow: 0px 0px #1b1b1b;}

  }

  @keyframes shadow {
      0% {box-shadow: 0px 0px #1b1b1b;}
      25% {box-shadow: 0.5px 1px #1b1b1b;}
      50% {box-shadow: 1px 2px #1b1b1b;}
      75% {box-shadow: 4px 7px #1b1b1b;}
      100% {box-shadow: 6px 10px #1b1b1b;}
  }

  .labour-Cost {
    margin: 0 auto;
    width: 15%;

  }

  #labour-Cost-Label {
    color: rgb(51, 51, 56);
    font-weight: 700;
    font-size: 24px;
  }

  .screenshot-btn {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    margin-bottom: 15px;
    position: relative;
    left: 36.5%;
    border-radius: 15px;
  }

  .screenshot-btn:hover{
    box-shadow: 6px 10px #1b1b1b;
    animation-name: shadow;
    animation-duration: 0.3s;
  }

  .screenshot-btn:not(:hover) {
    animation-name: unShadow;
    animation-duration: 0.5s;
  }

  .footer-text {
      text-align: right;
      font-size: 16px;
  }